#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  height: 460px;
  border: 1px solid black;
}

.box {
  flex: 1 1 auto;
  justify-content: center;
  border: 1px solid black;
  width: 10px;
}

.rowclass {
  display: flex;
  width: 460px;
  flex: 1 1 auto;
}

/* .pixelated {
  width: 100px;
  height: 100px;
} */

#comment {
  color: red;
}
